<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

{% include graphs.html %}

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' />
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ site.url }}/assets/css/entypo.css" media="all">

<!-- In order to use Calendas Plus, you must first purchase it. Then, create a font-face package using FontSquirrel.
<link rel='stylesheet' href='{{ site.url }}/assets/cal.css' media='all' />
-->



<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/i.css">

<!-- Fresh Squeezed jQuery -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">



<script type="text/javascript">
(function(e, t) {
    function r(e, t) {
        e[t] = function() {
            e.push([ t ].concat(Array.prototype.slice.call(arguments, 0)));
        };
    }
    var n = "JacoRecorder";
    (function(e, t, i, s) {
        if (!i.__VERSION) {
            e[n] = i;
            var o = [ "init", "identify", "startRecording", "stopRecording", "removeUserTracking", "setUserInfo" ];
            for (var u = 0; u < o.length; u++) r(i, o[u]);
            i.__VERSION = 2, i.__INIT_TIME = 1 * new Date;
            var a = t.createElement("script");
            a.async = !0, a.setAttribute("crossorigin", "anonymous"), a.src = s;
            var f = t.getElementsByTagName("head")[0];
            f.appendChild(a);
        }
    })(e, t, e[n] || [], "//recorder-assets.getjaco.com/recorder_v2.js");
}).call(window, window, document), window.JacoRecorder.push([ "init", "39ed140c-2751-4c42-9281-0259f481f62b", {} ]);
</script>



<div id="bump">
  <body class="">
    <header class="site-header">
      <div class="wrap">
        <hgroup>
          <h1><a href="/">{{ site.title }}</a></h1>
        </hgroup>
        <a href="#nav" class="menu"><span class='icons'>☰</span></a>
        <nav role="navigation">
          <ul>
            <li>
              <a href="/" title="{{ site.title }}">Home</a>
            </li>
            
            {% for link in site.links %}
                <li><a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{{ link.title }}</a></li>
            {% endfor %}

          </ul>
        </nav>
      </div>
    </header>
